#!/bin/sh

psql -v ON_ERROR_STOP=1 <<-EOF
ALTER SYSTEM SET wal_level = hot_standby;
ALTER SYSTEM SET max_wal_senders = 16;
ALTER SYSTEM SET max_replication_slots = 10;
ALTER SYSTEM SET wal_keep_segments = 32;
EOF

echo host replication all 10.42.0.0/16 trust >> /var/lib/postgresql/data/pg_hba.conf

{{if exists "/self/service/containers/1/uuid"}}
# replica

until pg_isready -h lb
do
  echo "sleep 1s and try again ..."
  sleep 1
done

gosu postgres pg_ctl -D "$PGDATA" -m fast -w stop
rm -rf $PGDATA/*

pg_basebackup -h proxy -R -D $PGDATA -U postgres -v -P --xlog-method=stream -w
psql -h lb -c "SELECT * FROM pg_create_physical_replication_slot('${HOSTNAME}');" -U postgres -d postgres

#cat >> ${PGDATA}/recovery.conf <<-EOF
#standby_mode = 'on'
#primary_conninfo = 'host=lb port=5432 user=postgres sslmode=disable'
#primary_slot_name = '${HOSTNAME}'
#recovery_target_timeline = 'latest'
#EOF

#chown postgres: ${PGDATA}/recovery.conf

#gosu postgres cat >> ${PGDATA}/postgresql.conf <<-EOF
#wal_level = hot_standby
#max_wal_senders = 16
#wal_keep_segments = 32
#hot_standby = on
#EOF

gosu postgres pg_ctl -D "$PGDATA" -w start

{{else}}
# master
{{end}}
