#!/bin/sh

psql -v ON_ERROR_STOP=1 <<-EOF
ALTER SYSTEM SET wal_level = hot_standby;
ALTER SYSTEM SET max_wal_senders = 16;
ALTER SYSTEM SET max_replication_slots = 10;
ALTER SYSTEM SET wal_keep_segments = 32;
EOF

echo host replication all 0.0.0.0/0 trust >> /var/lib/postgresql/data/pg_hba.conf

{{ if exists "/self/stack/services/proxy/containers/0/uuid" }}
# replica
{{ else }}
# master
{{ end }}
